.b-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.4);
  display: none; }
  .b-popup--show {
    display: block; }
  .b-popup .b-popup__content {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%; }
