@mixin e($el, $mod: '') {
	$selector: '#{$bl}__#{$el}';
	@if $mod != '' {
		$selector: '#{$selector}--#{$mod}'
	}

	#{$selector} {
		@content;
	}
}

$bl: '.popup';
#{$bl} {
	z-index: 9999;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.4);
	display: none;

	&--show {
		display: block;
	}

	@include e(inner) {
		width: 80%;
		margin: 0 auto;
		background: #fff;
		position: absolute;
		left: 0;
		right: 0;
		top: 50px;
		margin-bottom: 20px;
		padding: 10px;
	}

	@include e(close) {
		position: absolute;
		top: 0;
		right: 0;
		background: none;
		border: 1px solid #ccc;
		padding: 5px 10px;
	}

	&BodyOverflow {
		overflow-y: hidden;
	}
}